{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
   "extends": [
      "airbnb"
  ],
  "rules": {
    "no-console"                      : "off",
    "comma-dangle"                    : ["error", "always-multiline"],
    "react/jsx-first-prop-new-line"   : "off",
    "react/prefer-stateless-function" : "off",
    "import/no-unresolved"            : "off",
    "arrow-body-style"                : "off",
  }
}
